@{
    ViewBag.Title = Resources.Translations.Error;
}

<h3 class="text-danger">@Resources.Translations.Error</h3>
<br/>
<h4 class="text-danger">
    @Resources.Translations.AnErrorOccurredWhileProcessingYourRequest.
</h4>
<br />
<h2 class="text-danger">@ViewBag.Reason.</h2>

